<div class="mat-elevation-z8" style="overflow: auto; height: 400px">
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let item">{{ item.value | currency }}</td>
      <td mat-footer-cell *matFooterCellDef>
        {{ getTotalValue() | currency }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
    <tr mat-footer-row *matFooterRowDef="columns"></tr>
  </table>
</div>
